@media (min-width: 560px) {
    .header {
        &__logo {
            margin-right: auto;
        }
        &__navigation {
            order: 0;
            flex-basis: auto;
            margin-right: 50px;
        }
    }
}

@media (min-width: 768px) {
    .container {
        padding: 0 34px;
    }
    .banner {
        padding: 60px 0 90px;
        background-image: url('../img/bg-tablet.jpg');
        background-position: center;
        background-size: contain;
        margin-bottom: 40px;
        &__wrapper {
            max-width: 331px;
        }
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 77px;
    }
    .header {
        font-size: 20px;
        &__navigation {
            margin-right: 84px;
        }
    }
    .navigation {
        &__list {
            gap: 84px;
        }
    }
    .banner {
        padding: 120px 0 160px;
        background-image: url('../img/bg-laptop.jpg');
        &__wrapper {
            max-width: 510px;
        }
        &__subtitle {
            font-size: 40px;
            margin-bottom: 40px;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 20px;
        }
        &__timer {
            margin-bottom: 56px;
        }
        &__btn {
            font-size: 16px;
            line-height: 16px;
            padding: 17px 20px;
        }
    }
    .timer {
        gap: 8px;
        &__item {
            flex-basis: 120px;
        }
        &__unit {
            padding: 11px;
            font-size: 40px;
            margin-bottom: 8px;
        }
        &__description {
            font-size: 20px;
        }
    }
}

@media (min-width: 1440px) {
    .banner {
        background-image: url('../img/bg.jpg');
    }
}
